<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2026. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Admin listings read the grid collections of the core module -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="hryvinskyi_banner_slider_slider_listing_data_source"
                      xsi:type="string">Hryvinskyi\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</item>
                <item name="hryvinskyi_banner_slider_banner_listing_data_source"
                      xsi:type="string">Hryvinskyi\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Mass delete resolves the grid selection on a fresh grid collection -->
    <type name="Hryvinskyi\BannerSliderAdminUi\Controller\Adminhtml\Slider\MassDelete">
        <arguments>
            <argument name="collection" xsi:type="object"
                      shared="false">Hryvinskyi\BannerSlider\Model\ResourceModel\Slider\Grid\Collection</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\BannerSliderAdminUi\Controller\Adminhtml\Banner\MassDelete">
        <arguments>
            <argument name="collection" xsi:type="object"
                      shared="false">Hryvinskyi\BannerSlider\Model\ResourceModel\Banner\Grid\Collection</argument>
        </arguments>
    </type>

    <!-- Banner form: one mapper per group of fields; add a mapper to map more fields -->
    <type name="Hryvinskyi\BannerSliderAdminUi\Model\Form\BannerFormHydrator">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="general" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Banner\GeneralMapper</item>
                <item name="schedule" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Banner\ScheduleMapper</item>
                <item name="image" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Banner\ImageMapper</item>
                <item name="video" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Banner\VideoMapper</item>
                <item name="link" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Banner\LinkMapper</item>
                <item name="content" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Banner\ContentMapper</item>
            </argument>
        </arguments>
    </type>

    <!-- Slider form: one mapper per group of fields; add a mapper to map more fields -->
    <type name="Hryvinskyi\BannerSliderAdminUi\Model\Form\SliderFormHydrator">
        <arguments>
            <argument name="mappers" xsi:type="array">
                <item name="general" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Slider\GeneralMapper</item>
                <item name="visibility" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Slider\VisibilityMapper</item>
                <item name="schedule" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Slider\ScheduleMapper</item>
                <item name="options" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Slider\OptionsMapper</item>
                <item name="responsive_items" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Slider\ResponsiveItemsMapper</item>
                <item name="custom_css" xsi:type="object">Hryvinskyi\BannerSliderAdminUi\Model\Form\Slider\CustomCssMapper</item>
            </argument>
        </arguments>
    </type>

    <!-- The browser posts the crop editor state as JSON -->
    <type name="Hryvinskyi\BannerSliderAdminUi\Model\Form\CropInputMapper">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\BannerSliderAdminUi\Model\Form\PersistableBannerPost">
        <arguments>
            <argument name="serializer" xsi:type="object">Magento\Framework\Serialize\Serializer\Json</argument>
        </arguments>
    </type>

    <!-- Video aspect ratio presets offered in the banner form -->
    <type name="Hryvinskyi\BannerSliderAdminUi\Model\Form\AspectRatioPresets">
        <arguments>
            <argument name="presetOptions" xsi:type="object">Hryvinskyi\BannerSlider\Model\Source\AspectRatioOptions</argument>
        </arguments>
    </type>

    <!-- Store view options of the slider form: "All Store Views" and the store view tree -->
    <type name="Hryvinskyi\BannerSliderAdminUi\Ui\Component\Form\StoreViewOptions">
        <arguments>
            <argument name="storeOptions" xsi:type="object">Magento\Store\Ui\Component\Listing\Column\Store\Options</argument>
        </arguments>
    </type>

    <!-- Form data providers: entity export, then these modifiers -->
    <virtualType name="HryvinskyiBannerSliderAdminUiBannerFormModifierPool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="upload_limits" xsi:type="array">
                    <item name="class" xsi:type="string">Hryvinskyi\BannerSliderAdminUi\Ui\DataProvider\Banner\Modifier\UploadLimitsModifier</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
                <item name="responsive_cropper" xsi:type="array">
                    <item name="class" xsi:type="string">Hryvinskyi\BannerSliderAdminUi\Ui\DataProvider\Banner\Modifier\ResponsiveCropperModifier</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hryvinskyi\BannerSliderAdminUi\Ui\DataProvider\Banner\FormDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">HryvinskyiBannerSliderAdminUiBannerFormModifierPool</argument>
        </arguments>
    </type>
    <virtualType name="HryvinskyiBannerSliderAdminUiSliderFormModifierPool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="breakpoint_rows" xsi:type="array">
                    <item name="class" xsi:type="string">Hryvinskyi\BannerSliderAdminUi\Ui\DataProvider\Slider\Modifier\BreakpointRowsModifier</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hryvinskyi\BannerSliderAdminUi\Ui\DataProvider\Slider\FormDataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">HryvinskyiBannerSliderAdminUiSliderFormModifierPool</argument>
        </arguments>
    </type>
</config>
